.cm-s-obsidian .cm-strong,
strong {
  color: var(--accent-1);
  font-weight: normal;
}

.markdown-preview-view code {
  color: #f0e68c;
  font-size: 1em;
  font-family: var(--font-monospace);
  font-weight: normal;
  background-color: var(--background-primary-alt);
  border-radius: 4px;
  line-height: 25pt;
  padding: 6px 6px 6px 6px;
}

.markdown-preview-view {
  font-size: var(--editor-font-size);
  font-weight: normal;

  line-height: 2rem;

  padding: 20px 20px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: auto;
  overflow-wrap: break-word;
  color: var(--text-normal);
  user-select: text;
  -webkit-user-select: text;
}
.markdown-preview-view img:not([width]),
.markdown-preview-view audio,
.markdown-preview-view video {
  max-width: 100%;
  outline: none;
}
.markdown-preview-view h1,
.markdown-preview-view h2,
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6 {
  margin: 15px 0 0 0;
  font-weight: 600;
}
.markdown-preview-view h1 {
  font-size: 1.5em;
}
.markdown-preview-view h2 {
  font-size: 1.3em;
}
.markdown-preview-view h3 {
  font-size: 1.15em;
}
.markdown-preview-view h4 {
  font-size: 1.1em;
}
.markdown-preview-view h5,
.markdown-preview-view h6 {
  font-size: 1.05em;
}
.markdown-preview-view h6 {
  color: var(--text-muted);
}
.workspace-leaf-content.is-read-mode .markdown-preview-view {
  width: 100%;
  left: 0;
  background-color: var(--background-primary);
}
.markdown-preview-view.is-readable-line-width .markdown-preview-sizer {
  /* max-width: 2000px; */

  margin-left: 10px;
  margin-right: 10px;
}
.markdown-preview-view.is-readable-line-width .markdown-preview-sizer > div > *:not(iframe) {
  max-width: none;
  width: 100%;
}
.markdown-source-view.is-readable-line-width .CodeMirror {
  max-width: none;
}
.markdown-preview-view.is-readable-line-width .markdown-preview-sizer > div > *:not(iframe) {
  max-width: none;
  width: 100%;
}
.markdown-preview-view .internal-link {
  text-decoration: underline;
  cursor: pointer;
}
.markdown-preview-view .internal-link.is-unresolved {
  opacity: 0.5;
}
.markdown-preview-view table {
  border-collapse: collapse;
  margin-bottom: 10px;
}
.markdown-preview-view th {
  font-weight: normal;
}
.markdown-preview-view th,
.markdown-preview-view td {
  padding: 4px 10px;
  border: 1px solid var(--background-modifier-border);
}
.markdown-preview-view blockquote {
  border-radius: 0 4px 4px 0;
  border: 1px solid var(--background-modifier-border);
  border-left-width: 5px;
  padding: 10px 20px;
  margin-inline-start: 30px;
  margin-inline-end: 30px;
}
.markdown-preview-view blockquote > :first-child {
  margin-top: 0;
}
.markdown-preview-view blockquote > :last-child {
  margin-bottom: 0;
}

.markdown-preview-view mark {
  background-color: #202020;
  color: #e89b23;
}

.cm-s-obsidian .HyperMD-codeblock {
  font-family: var(--font-monospace);
  line-height: 1.3;
  color: #928b78;
  font-size: 1em;
}
.cm-s-obsidian .HyperMD-codeblock span.cm-inline-code {
  display: inherit;
  background-color: inherit;
  border: inherit;
  padding: inherit;
  font-size: inherit;
}

.cm-header {
  font-size: 1.5rem;
}

.markdown-preview-view img[alt='sm'] {
  width: max(300px, 30%);
  max-height: auto;
}
.markdown-preview-view img[alt='md'] {
  width: max(500px, 50%);
  max-height: auto;
}
.markdown-preview-view img[alt='lg'] {
  width: max(1080px, 70%);
  max-height: auto;
}

/*
.markdown-preview-view img {

  display: block;
  width: 80%; 
  transform-origin: 0 0;
  transition: transform 0.25s ease;
}

.markdown-preview-view img:hover {
  -webkit-transform: scale(1); 
  transform-origin: 0 0;
  transform: scale(1.3);
}


.markdown-source-view img {
  width: 80%; 
}
*/

ul {
  margin-block-end: 0;
}
ul li {
  margin-bottom: 0;
}

/* 箭頭 */

.markdown-preview-view .list-collapse-indicator {
  margin-left: -60px;
  padding: 0 8px;
}
